*,
*::before,
*::after {
    box-sizing: border-box;
}

/* using flexbox model to create a row or a column
 axis layout and make the drawing responsive */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    margin: auto;
    background-color: rgb(15, 35, 43);
}


.head {
    background: rgb(248, 215, 202);
    height: 330px;
    width: 400px;
    border-radius: 100% 100% / 70% 70% 140% 140%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyes,
.brows {
    position: absolute;
    width: 195px;
    display: flex;
    justify-content: space-between;
}

.brow {
    width: 65px;
    height: 32px;
    border-top: 10px solid rgb(78, 49, 30);
    border-radius: 0 100% 100% 0;
    margin-bottom: 35%;
}

/* making the both brows looks the same */

.brow:first-child {
    border-radius: 100% 0 0 100%;
}



.makeup {
    position: absolute;
    width: 195px;
    display: flex;
    justify-content: space-between;
}

.makeup-eye {
    width: 64px;
    height: 42px;
    border-top: 1px solid rgb(65, 49, 38);
    background: rgb(33, 25, 19);
    background: linear-gradient(41deg, rgba(33, 25, 19, 1) 0%, rgba(167, 105, 74, 1) 100%);
    border-radius: 0 76% 67% 0;
    margin-bottom: 16%;

}

.makeup-eye:first-child {
    border-radius: 76% 0 0 67%;
    background: rgb(33, 25, 19);
    background: linear-gradient(333deg, rgba(33, 25, 19, 1) 0%, rgba(167, 105, 74, 1) 100%);
}

.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: white;
    height: 40px;
    width: 65px;
    border-radius: 100%;
    border-top: 3px solid rgb(245, 187, 164);
    border-bottom: 3px solid rgb(245, 187, 164);
}

.eye-pupil {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(46, 27, 17);
    border-radius: 100%;
    margin-left: 15px;
    margin-bottom: 7px;
}

.eye::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 41px;
    background-color: rgb(112, 62, 32);
    border-radius: 100%;
    margin-left: 10px;
    margin-bottom: 5px;
}



.shut {
    position: relative;
    bottom: 15px;
    width: 100%;
    height: 20%;
    background-color: rgb(245, 187, 164);
    animation: eyeshut 2s ease-in-out;
}

/* eye blink animation */

@keyframes eyeshut {
    0% {
        height: 10%;
    }

    10% {
        height: 100%;
    }

    20% {
        height: 200%;

    }

    100% {
        height: 0%;
    }
}

/* eye blink on hover */
.eyes:hover>.eye .shut {
    height: 200%;
    bottom: 2px;
}


.nose {
    position: absolute;
    margin-top: 100px;
    border: 4px solid rgb(245, 187, 164);
    width: 40px;
    height: 30px;
    border-radius: 0 0 100% 100%;
    border-top: none;
}

.mouth {
    position: relative;
    width: 100px;
    height: 30px;
    background: rgb(248, 149, 154);
    margin-top: 225px;
    border-radius: 20% 20% 100% 100%;
    border: 4px solid rgb(224, 155, 157);
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 2px;
}

/* mouth shut on hover */
.mouth-shut:hover {

    position: absolute;
    display: block;
    margin-top: 225px;
    bottom: -2px;
    width: 100%;
    height: 110%;
    background-color: rgb(231, 5, 50);
    border-radius: 20% 20% 100% 100%;
    content-visibility: hidden;
}

.teeth {
    position: absolute;
    bottom: 5px;
    left: 0%;
    width: 100%;
    height: 15%;
    list-style: none;
    display: block;
    background-color: rgb(201, 102, 107);
    z-index: 0;


}

.teeth li {
    position: absolute;
    top: 10%;
    display: inline;
    width: 8.33%;
    height: 250%;
    background-color: white;
    border-radius: 50% / 10px 10px;

}


.teeth li:nth-child(1),
.teeth li:nth-child(2),
.teeth li:nth-child(3),
.teeth li:nth-child(4),
.teeth li:nth-child(5),
.teeth li:nth-child(6),
.teeth li:nth-child(7),
.teeth li:nth-child(8),
.teeth li:nth-child(9) {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.teeth li:nth-child(1) {
    left: 0%;
}

.teeth li:nth-child(2) {
    left: 10%;
}

.teeth li:nth-child(3) {
    left: 20%;
}

.teeth li:nth-child(4) {
    left: 30%;
}

.teeth li:nth-child(5) {
    right: 40%;
    border-radius: 50% / 10px 10px;
}

.teeth li:nth-child(6) {
    right: 30%;
}

.teeth li:nth-child(7) {
    right: 20%;
}

.teeth li:nth-child(8) {
    right: 10%;
}

.teeth li:nth-child(9) {
    right: 0%;
}

.ears {
    z-index: -1;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 420px;
}

.ear {
    width: 25px;
    height: 60px;
    border: 10px solid rgb(238, 211, 201);
    background: rgb(238, 211, 201);
    border-radius: 0 100% 100% 0;
}

.ear:first-child {
    border-radius: 100% 0 0 100%;
}

.hair {
    position: absolute;
    width: 400px;
    height: 80px;
    background-color: rgb(22, 17, 19);
    margin-bottom: 300px;
    border-radius: 30% 30% 0 0;
}

.hair::before,
.hair::after {
    content: "";
    position: absolute;
    background-color: rgb(22, 17, 19);
    height: 380px;
    width: 40px;
    transform: translateY(20%);

}

.hair::after {
    right: 0;

}

.hair-corner {
    position: absolute;
    width: 100%;
}

.hair-corner::before,
.hair-corner::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 20px;
    transform: rotate(45deg);
    background-color: rgb(22, 17, 19);
    top: 72px;
    left: 35px;
}

.hair-corner::after {
    left: initial;
    right: 35px;
    transform: rotate(-45deg);
}

/* responsive design on tablet screen */

@media all and (max-width: 600px) {
    body {
        width: 45vh;
    }
}

/* responsive design on mobile screen */

@media screen and (max-width: 400px) {

    body {
        width: 45vh;
    }

    .head {
        height: 371px;
        width: 295px;
        border-radius: 100% 100% / 70% 70% 140% 140%;
        margin-right: 0px;
    }

    .hair {

        width: 300px;
        height: 80px;
        margin-bottom: 300px;
        border-radius: 30% 30% 0 0;
    }

    .ears {
        width: 316px;
    }

    .eyes,
    .makeup,
    .brows {
        width: 176px
    } 

    .nose {
        width: 36px;
        height: 26px;
    }

    .mouth {
        width: 90px;
        height: 27px;
    }

}